html {
			font-size: calc(100vw/3.75);
		}
		
		body {
			font-size: 0.16rem;
		}
		
		#full-page {
			width: 100%;
			max-width: 7.5rem;
			margin: 0px auto;
			max-height: 6.85rem;
		}
		
		.section {
			height: 100%;
			width: 100%;
			position: relative;
			
		}
		
		.section img {
			position: absolute;
		}
		.img-7{
			height: 6.08rem;
			width: 4rem;
			top: 0.56rem;
			left: 0;
		}
		.top{
			width: 3.85rem;
			height: 0.56rem;
			position: absolute;
			top: 0;
			left: 0;
			background-color: black;
			font-size: 0.28rem;
			color: white;
			line-height: 0.56rem;
			font-weight: 800;
			text-align: center;
			
		}
		.img-1{
			height: 6.08rem;
			width: 4rem;
			top:0.76rem;
			left: 0;
		}
		.bor-1{
			height: 4.53rem;
			width: 2.66rem;
			border: solid 0.04rem gainsboro;
			position: absolute;
			top: 0.7rem;
			left: 0.7rem;
			-webkit-transition: all 0.5s linear 0.5s;
			opacity: 0;
		}
		
		.section.active .bor-1 {
			height: 3.53rem;
			width: 1.66rem;
			top: 1.2rem;
			left: 1.2rem;
			opacity: 1;
			
		}
		.bor-2{
			height: 1.29rem;
			width: 0.38rem;
			border: solid 0.02rem gray;
			position: absolute;
			top: 2.3rem;
			left: 1.84rem;
			opacity: 0;
			
			
			-webkit-transition: all 0.5s linear 0.8s;
		}
		
		.section.active .bor-2 {
		   height: 3.29rem;
			width: 1.38rem;
			top: 1.3rem;
			left: 1.34rem;
			opacity: 1;
			
		}
		.img-2{
			
			top:1.15rem;
			left: 0rem;
			opacity: 0;
			
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .img-2 {
			left: 1.4rem;
			opacity: 1;
			
		}
		.img-3{
			top:0.6rem;
			left: 1.8rem;
			opacity: 0;
			 
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .img-3{
	        top:2.46rem;
			left: 1.8rem;
			opacity: 1;
			
		}
		.img-4{
			top:3.46rem;
			left: 3rem;
		     opacity: 0;
			 
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .img-4{
			left: 1.5rem;
			opacity: 1;
			
		}
        .img-5{
			top:5.04rem;
			left: 1.5rem;
	        opacity: 0;
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .img-5{
			top:2.64rem;
			opacity: 1;
			
		}
		.img-6{
			top:0.5rem;
			left: -1.5rem;
			opacity: 0;
			-webkit-transition: all 0.8s linear 1s;
		}
		
		.section.active .img-6{
		  
			top:0.92rem;
			left: 0.36rem;
			opacity: 1;
			
		}
		.text{
			position: absolute;
			bottom: -0.8rem;
			left: 1.2rem;
			font-weight: 900;
			color: black;
		     opacity: 0;
		    -webkit-transition: all 0.5s linear 1s;
		}
		
		.section.active .text{
			bottom: 0.6rem;
			opacity: 1;
			
		}
		.text-1{
			position: absolute;
			bottom: -1rem;
			left: 1.63rem;
			font-weight: 900;
			color: black;
		    opacity: 0;
		    -webkit-transition: all 0.5s linear 1s;
		}
		
		.section.active .text-1{
			bottom: 0.3rem;
			opacity: 1;
			
		}
		.bg-1{
			top: 0rem;
			left: 0.5rem;
	        opacity: 0;
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .bg-1{
			top: 0.83rem;
			opacity: 1;
			
		}
		.t1{
			font-size: 0.22rem;
			position: absolute;
			top: 2.96rem;
			left: 1.36rem;
		     opacity: 0;
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .t1{
			top: 0.96rem;
			opacity: 1;
			
		}
		.t2{
			position: absolute;
			top: 3.32rem;
			left: 1.26rem;
		     opacity: 0;
		    -webkit-transition: all 0.5s linear 0.5s;
		}
		
		.section.active .t2{
			top: 1.32rem;
			opacity: 1;
			
		}
		.bar-1{
			height: 5.15rem;
			width: 4.28rem;
			border: solid 0.03rem black;
			position: absolute;
				bottom: 2.4rem;
			left: 1.21rem;
			opacity: 0;
			-webkit-transition: all 1s linear 0.3s;
		}
		
		.section.active .bar-2 {
			height: 3.65rem;
			width: 3.28rem;
			bottom: 0.4rem;
			left: 0.21rem;
			opacity: 1;
			
		}
		.bar-2{
			height: 1.15rem;
			width: 1.28rem;
			border: solid 0.03rem black;
			position: absolute;
			bottom: 2.4rem;
			left: 1.21rem;
			opacity: 0;
			-webkit-transition: all 1s linear 0.3s;
		}
		
		.section.active .bar-2 {
			height: 3.65rem;
			width: 3.28rem;
			bottom: 0.4rem;
			left: 0.21rem;
			opacity: 1;
			
		}
		.t3{
			position: absolute;
			width: 1.6rem;
			height: 0.2rem;
			font-size: 0rem;
		    bottom: 4rem;
              
			left: 1.88rem;
			font-weight: 900;
			opacity: 0;
			-webkit-transition: all 1s linear 0.3s;
		}
		
		.section.active .t3 {
		    bottom: 3.6rem;
			left: 1.08rem;
			font-size: 0.2rem;
			opacity: 1;
			
		}
		.t4{
			font-weight: 400;
			
			height: 2.6rem;
			width:2.66rem ;
			position: absolute;
			font-size: 0rem;
			bottom: 1rem;
			left: 1.85rem;
			line-height: 2em;
			opacity: 0;
			-webkit-transition: all 1s linear 0.3s;
		}
		
		.section.active .t4 {
			bottom: 0.7rem;
			left: 0.52rem;
			font-size: 0.16rem;
			opacity: 1;
			
		}
		.logo{
			height: 0.32rem;
			width: 1.06rem;
			background-color: black;
			color: white;
			font-size: 0.24rem;
			position: absolute;
			bottom: -1rem;
			left: 1.32rem;
			text-align: center;
			line-height: 0.32rem;
		     opacity: 0;
		    -webkit-transition: all 1s linear 1.5s;
		}
		
		.section.active .logo{
			bottom: 0.2rem;
			opacity: 1;
			
		}
		
